.env/
.env
__pycache__/
/src/common/grpc/auto_generated/*_pb2.py
/src/common/grpc/auto_generated/*_pb2_grpc.py
/src/common/grpc/auto_generated/*_pb2.pyi
Thumbs.db
desktop.ini
.vscode/
.venv/
.idea/
data/server_storage/output/*.json