.env/
.env
__pycache__/
/src/common/grpc/auto_generated/*_pb2.py
/src/common/grpc/auto_generated/*_pb2_grpc.py
/src/common/grpc/auto_generated/*_pb2.pyi
Thumbs.db
desktop.ini
.vscode/
.venv/
.idea/
data/server_storage/output/*.json
data/server_storage/input/input_dataset_biggest.txt
data/snapshot
data/output
scripts/afs
afs/temp
afs/*
data/input/input_dataset_biggest.txt
